@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes remove {
  0% {
    position: relative;
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    position: absolute;
    opacity: 0;
  }
}

@keyframes animateOpen {
  0% {
    transform: scale(0.0006, 0.0006);
  }
  35% {
    transform: scale(0.0006, 0.5);
  }
  50% {
    transform: scale(0.0006, 0.5);
  }
  85% {
    transform: scale(0.0006, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
