// $bg-main: #fcf9f7;
// $carousel-dot-margin: 8px 20px;
$text-black--light: #616161;
$text-black: #394149;
$bg-secondary: #f7f0eb;

:root {
  --main-color: #86756c;
  --extra-color: #ab5429;
  --bg-highlight: #ede8df;
  --bg-main: #f3f0ea;
  --black: #394149;
  // --todo-bg-main: #11c1d2;
  --todo-bg-main: #1181d1;
  --todo-bg-submain: #11c1d2;
  --todo-pink: #fd9489;
}
