.home-banner {
  height: calc(100vh - 64px);

  &__wrp {
    background: url("../../assets/images/banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    // background: #ede9e0;
  }

  &__ctn {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__name {
    font-size: 112px;
    text-transform: uppercase;
    line-height: 1.3;

    span {
      color: var(--extra-color);
    }
  }

  // &__avatar {
  //   background: url("../../assets/images/avatar.png");
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;
  //   position: absolute;
  //   right: -100px;
  //   bottom: 0;
  //   height: 890px;
  //   width: 590px;
  // }

  &__welcome {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-color);
    letter-spacing: 0.8px;

    // &::before {
    //   position: absolute;
    //   content: "";
    //   width: 70px;
    //   height: 2px;
    //   background-color: var(--extra-color);
    //   left: 128px;
    //   margin-left: 2px;
    //   bottom: 9px;
    // }
  }

  .s-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .shape {
    position: absolute;

    &-1 {
      bottom: 22%;
      left: 7%;

      img {
        width: 44px;
        height: 44px;
      }
    }

    &-2 {
      bottom: 3%;
      left: 18.5%;

      img {
        width: 70px;
        height: 70px;
      }
    }

    &-3 {
      top: 17%;
      left: 30%;

      img {
        width: 30px;
        height: 30px;
      }
    }

    &-4 {
      top: 36%;
      left: 49%;

      img {
        width: 45px;
        height: 45px;
      }
    }

    &-5 {
      bottom: 12%;
      left: 40%;

      img {
        width: 44px;
        height: 44px;
      }
    }

    &-6 {
      top: 27%;
      right: 12%;

      img {
        width: 44px;
        height: 44px;
      }
    }

    &-7 {
      bottom: 20%;
      right: 9%;

      img {
        width: 81px;
        height: 81px;
      }
    }
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  @media (max-width: 1600px) {
    &__name {
      font-size: 70px;
    }

    .shape {
      position: absolute;

      &-1 {
        bottom: 17%;
        left: 2%;

        img {
          width: 35px;
          height: 35px;
        }
      }

      &-2 {
        display: none;
      }

      &-3 {
        img {
          width: 25px;
          height: 25px;
        }
      }

      &-4 {
        img {
          width: 38px;
          height: 38px;
        }
      }

      &-5 {
        left: 35%;

        img {
          width: 37px;
          height: 37px;
        }
      }

      &-6 {
        img {
          width: 38px;
          height: 38px;
        }
      }

      &-7 {
        img {
          width: 65px;
          height: 65px;
        }
      }
    }
  }

  @media (max-width: 1357px) and (min-width: 1264px) {
    &__ctn {
      bottom: 16px;
    }
  }

  @media (max-width: 1200px) {
    .shape {
      display: none;
    }
  }

  @media (max-width: 1072px) {
    &__ctn {
      bottom: 16px;
    }
  }

  @media (max-width: 1040px) {
    &__name {
      font-size: 80px;
    }
  }

  @media (max-width: 959px) {

  }

  @media (max-width: 768px) {
    &__name {
      font-size: 55px;
    }
  }


  @media (max-width: 480px) {
    &__name {
      font-size: 50px;
    }

    &__welcome {
      font-size: 14px;

      &::before {
        left: 115px;
      }
    }

    // &__avatar {
    //   background-size: contain;
    //   width: 500px;
    //   height: 730px;
    //   right: -50%;
    //   background-position: bottom;
    // }

    &__intro {
      top: 32%;
    }

    &__wrp {
      background-position: 63% 50%;
    }
  }
}
